@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Parkinsans:wght@300..800&family=Tiro+Bangla:ital@0;1&display=swap');

:root {
    --game-font: "Parkinsans", sans-serif;
}

h2 {
    font-family: var(--game-font);
    font-size: 2rem;
}
body {
    font-family: var(--game-font);
}

#games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
}

.genres {
    display: flex;
    gap: 0.5rem;
}

.selected {
    background: pink;
}

h1 {
    font-family: var(--game-font);
    font-weight: 600;
    font-size: 3rem; 
}